@import './variables.scss';
@import './zero-css.scss';


* {
    font-family: monospace;
}

.mainDiv {
    background-color: $background;
    display: flex;
    flex-direction: column;
    padding: 16px;
    width: 22em;
    height: 37em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $font;
}

// necham chatgpt komentare
.header {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: space-between;
    
    .coins {
      display: flex;
      align-items: center; /* Align items vertically in the center */
      margin-right: 10px; /* Add some spacing between coins and url */
      
      p.coins-text {
        margin: 0; /* Reset margin to remove default space */
      }
    }
    
    p.url {
        color: $font;
        font-size: calc(5vw + 0.2vw); /* Initial font size with viewport unit adjustment */
        margin: 0 10px; /* Add some spacing around the url text */
    }
  }